@import '../../assets/sass/imports.scss';

[data-component='products-grid'] {
  background-color: $light-grey;
  padding: 20px 0;

  @include lg {
    padding: 40px 0;
  }

  .main-title {
    font-size: 28px;
    color: $dark-grey;
    font-weight: 300;
    letter-spacing: .8px;

    @include lg {
      font-size: 52px;
    }
  }

  .column {
    display: flex;
  }
  
  .title-row {
    margin-bottom: 20px;

    @include lg {
      margin-bottom: 51px;
    }
  }

}