@import './imports.scss';
@import './bootstrap.scss';
@import './buttons.scss';
@import './checkbox.scss';
@import './inputs.scss';

body, html {

  * {
    font-family: $font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button, input {
    font-family: $font;

    &:focus {
      outline: none;
    }
  }
  
  ul {
    padding: 0;
    margin: 0;
  }

}
