@import './imports.scss';

.input-field {
  padding: 11px 15px;
  margin: 0 0 14px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $pale-grey;
  font-size: 14px;
  color: $blue;

  &::placeholder {
    color: $blue;
    font-size: 16px;
  }
}

.input-file-holder {
  display: flex;
  margin: 0 0 15px;

  .input-file {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .input-file-btn {
    border-radius: 0 5px 5px 0;
    padding: 11px;
    text-align: center;
  }

  .file-name {
    border: 1px solid $pale-grey;
    flex: 1 0 60%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
    color: $blue;
    box-sizing: content-box;

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 12px;
      align-self: center;
      display: inline-flex;
    }
  }

}