@import '../../assets/sass/imports.scss';

[data-component='footer'] {
  color: $blue;
  background-color: $grey;
  padding: 14px 0;
  text-align: center;

  .logo {
    max-width: 90px;
    margin: 0 0 10px;

    @include lg {
      max-width: 155px;
      margin: 0;
    }
  }


}